#agifinline-form {
    padding: 20px;
}

#agifinline-search {
    font-size: 2em;
    width: 100%;
}

#agifinline-result {
    height: 200px;
    overflow: auto;
    background: #FFFBCC;
    padding: 10px;
    margin-bottom: 10px;
}

#agifinline-url #agifinline-href {
    width: 100%;
}

#agifinline-placeholder {
    height: 100px;
    padding: 50px 0 !important;
    text-align: center;
    border: 1px dashed #DDD;
    overflow: hidden;
    display: block !important;
    width: 100% !important;
}

#agifinline-result div {
    display: inline-block;
    width: 46%;
    overflow: hidden;
    padding: 10px;

}
#agifinline-result div a {
    width: 100%;
}

#agifinline-result div a:hover img, #agifinline-result div a.active img {
    border: 1px solid #FF0000;
    box-shadow: 1px 1px 1px #ddd;
}

#agifinline-result div a img {
    border: 1px solid #FFFBCC;
}

#agifinline-load-more {
    border: 0;
    padding: 20px;
    height: 100px;
    text-align: center;
    display: inline-block;
    width: 90% !important;
}

#agifinline-form .submitbox {
    margin-top: 20px;
}